<h1>youko</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_youko_path %>
<%= link_to "cat", youkos_dog_path %>
<%= link_to "dog", youkos_cat_path %>
<%= link_to "hadakadebanezumi", youkos_hadakadebanezumi_path %>

<%= page_entries_info @youkos %>
<%= paginate @youkos %>

<div class="youko-container">

  <% @youkos.each do |t| %>
    <%= link_to "詳細へ", youko_path(t.id) %>

    <div class="youko">
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.food %>
      <%= t.effect %>
      <%= t.cook %>
      <%= t.cause %>
    </div>
  <% end %>
</div>